html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	height: 60px;	
}

.navbar {
	height: 100%;
	width: 100%;
	padding: 10px 20px;
}

.navbar ul {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
}

.link:hover {
	text-decoration: underline;
}

.circle-shadow {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-shadow:hover {
	background-color: #0000001a;
}

.prof-image {
	height: 30px;
	width: 30px;
}

.content-section {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}

.logo-img {
	width: 300px;
	margin-bottom: 20px;
}

.search-bar {
	border: 1px solid lightgray;
	width: 600px;
	height: 45px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding-left: 15px;
}

.search-bar:hover {
	box-shadow: 0 0 4px 0 #b5b5b5;
}

.search-bar .material-icons-outlined {
	font-size: 18px;
	color: gray;
	margin-right: 15px;
	cursor: pointer;
}

.search-bar input {
	flex-grow: 1;
	height: 30px;
	margin-right: 15px;
	font-size: 16px;
	border: none;
}

.search-bar input:focus {
	outline: none;
}

.search-btns {
	margin-top: 20px;
}

.search-btns button {
	height: 40px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	color: black;
	background-color: #f2f3f4;
}

.search-btns button:hover {
	border: 1px solid lightgray;
}

.google-search-btn {
	width: 120px;
}

.lucky-search-btn {
	width: 140px;
}

.language {
	margin-top: 20px;
	font-size: 14px;
}

.language p a {
	color: blue;
}


footer {
	background-color: #f2f2f2;
	height: 100px;
}

.footer-content {
	display: flex;
	align-items: center;
	padding: 20px;
}

.upper-footer {
	height: 50%;
	border-bottom: 1px solid lightgray;
}

.upper-footer p {
	color: gray;
	font-size: 14px;
}

.lower-footer {
	height: 50%;
	display: flex;
	justify-content: space-between;

}

.lower-footer ul li a {
	font-size: 14px;
	color: gray;
}

.language p a:hover {
	text-decoration: underline;
}

.lower-footer ul li a:hover {
	text-decoration: underline;
}

.lower-left-footer {
	display: flex;
}

.lower-left-footer li {
	margin-right: 15px;
}

.lower-right-footer li {
	margin-left: 15px;
}

.navbar ul li {
	margin-left: 15px;
}

.lower-right-footer {
	display: flex;
}
